.my-div:hover {
    background-color: #2980b9; /* New background color on hover */
  }


.navbar{

    list-style: none;
    display: flex;
    margin-right: 2%;
    justify-content: center; align-items: center;
    
    }
    .logo {
    
        height: 120px;
        width: 200px;
        margin-right: auto;
        margin-left: 5%;
        margin-bottom: 1%;
        margin-top: 1%;
    }
    .items{
        padding-right: 30px;
        padding-top: 10px;
        font-size: 35px;
        color:black;
        
    }
    
    .items a{
        text-decoration: none;
    }
    .items a:hover{
    
        background-color: yellow;
    }
    
    .image-text{
    
        position: absolute;
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, -50%); 
        background-color: yellow ; 
        color: black; 
        padding: 10px 20px; 
        font-size: 20px; 
        text-align: center;
    }
    
    .center-text{
    
        padding-left: 50%;
    }
    
    .image-container {
        position: relative;
        display: inline-block;
      }
    #pic{
        width:100%;
        Height:100%;
       object-fit: cover;
    }


    .image-text{

        position: absolute;
        top: 85%; 
        left: 50%; 
        transform: translate(-50%, -50%); 
        background-color: transparent ; 
        color: white; 
        padding: 10px 20px; 
        font-size: 20px; 
        text-align: center;
    }

    .p{
        font-size:1.2em;
    }